thesis/
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.dvi
*.synctex.gz
*.fls
*.fdb_latexmk
.env
.env.local

# macOS
.DS_Store
**/.DS_Store


# Mind Uploading Collection Files
papers_metadata.json
translations_cache.json
