title: Mind-Upload
description: マインドアップロード実現のための中核となるコアサイト
url: https://mind-upload.com
baseurl: ""

# Build settings
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  syntax_highlighter: rouge

# Defaults
defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"

# Exclude from processing
exclude:
  - automation
  - ignore
  - node_modules
  - Gemfile
  - Gemfile.lock
  - .gitignore
  - README.md
  - "*.json"
